body
	background-color: #B1BDD0
h2,h1
	color: #000000 !important
	text-align: center

.copyright-text,#contact,footer
	background-color: #B1BDD0
a
	text-decoration: none

.box-sk
	width: 100%
	img
		width: 20%

#Proyectos
	margin: 1em 0em
	padding: 2em 0em
	background-color: #37526C	
#header-content
	padding: 2%
	text-align: center
	.img-hdr
		img
			width: 200px
			height: 200px
			border-radius: 100px
.LineaB 
	padding: 2%
	background-color: #FFFFFF
hr 
	border: 2px solid red !important