h2,h1
	color: #000000 !important
	text-align: center
a
	text-decoration: none
#Skills
	background-image: url("../imagenes/preview.jpg")
	background-position: center center
	width: 100%
	padding: 5%
	.box-sk
		width: 100%
	img
		width: 20%
	.progress
		height: 12px
		width: 70%
#header-content
	background-image: url("../imagenes/fondo.jpg")
	background-position: center
	padding: 2%
	text-align: center
	.img-hdr
		img
			width: 200px
			height: 200px
			
.LineaB 
	padding: 2%
	background-color: #FFFFFF
hr 
	border: 2px solid #30BFBF!important
	width: 30%

@media (min-width &:768px)
	.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category 
		font-size: 16px

.portfolio-box
	display: block
	position: relative
	max-width: 650px
	padding: -15%
	.portfolio-box-caption
		.portfolio-box-caption-content
			.project-name
				font-size: 22px
#Proyectos
	margin: 1em 0em
	padding: 2em 0em
	img
		height: 250px
		width: 100%

.port-caja
	&:hover
		.portfolio-box-caption
			opacity: 1

	.portfolio-box-caption
		display: block
		position: absolute
		bottom: 0
		width: 95%
		height: 100%
		text-align: center
		color: #fff
		opacity: 0
		background: #37D9A3
		.portfolio-box-caption-content
			position: absolute
			top: 50%
			width: 100%
			text-align: center
			transform: translateY(-50%)
.btn-git
	border-color: #fff
	color: #222
	background-color: #f2f2f2
	font-size: 18px
	border-radius: 10px

.color
	color: #f05f40
.bounceIn
	animation-duration: 20s !important
	animation-iteration-count: 5


	
	// data-wow-duration= "2s"
	// data-wow-iteration= 


